/* General css. Main Tags*/
html {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: white;
	background-color: black;
	font-size: 16px;
	border: 0;
}
body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: 0;
}

#frozenHeader {
	position: fixed;
	z-index: 100;
}

#content {
	top: -50vh;
	left: -50vw;
	height:200vh;
	width: 200vw;
}

.section {
	height:600px;
	height:100vh;
	width:900;
	width:100vw;
	overflow-x: visible;
	overflow-y: visible;
	-webkit-perspective: 500px;
	perspective: 500px;
	position:relative;
}

#section1 {
	top: -50vh;
	left: -50vw;
	background-color: #499BDE;
}
#section2 {
	top: -50vh;
	left: -50vw;
	background-color: #DEA749;
}
#section3 {
	top: -150vh;
	left: 50vw;
	background-color: #6DB571;
}
#section4 {
	top: -150vh;
	left: 50vw;
	background-color: #B28BD9;
}

/*
Android: -webkit-

Chrome: -webkit-

iOS: -webkit-

Safari: -webkit-

Firefox: -moz-

Internet Explorer: -ms-

As bonus: Opera: -o-
*/