/*
-* MOBILE
-* General CSS for index.html
*/

/*
-* FONTS
*/
@font-face {
	font-family: basic;
	src: url('../fonts/CaviarDreams.ttf');
}
@font-face {
	font-family: basicbold;
	src: url('../fonts/CaviarDreams_Bold.ttf');
}
@font-face {
	font-family: basicitalic;
	src: url('../fonts/CaviarDreams_Italic.ttf');
}
@font-face {
	font-family: basicbolditalic;
	src: url('../fonts/CaviarDreams_BoldItalic.ttf');
}
@font-face {
	font-family: titleFont;
	src: url('../fonts/Hitch-hike.otf');
}
@font-face {
	font-family: nameFont;
	src: url('../fonts/DJBSpeakTheTruth.ttf');
	font-style: normal;
}

/*
-* GLOBAL
*/
html {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-family: "Times New Roman", Times, serif;
	color: #000000;
	background-color: #73513D;
	font-size: 16px;
	border: 0;
}
body, img, div{
	font-family: basic;
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: 0;
}

h1, p{
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

/*
-* Loading Screen
*/
#loadingScreen {
	z-index: 500000;
}


/*
-* Main Section, Title
*/
#MainSection {
	overflow: hidden;
	background-image: url(../img/AddButton.png);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: bottom center;
}

#homeDetails {
	margin-top: 25%;
	margin-left: auto;
	margin-right: auto;
	width:300px;
	height: 125px;
	border: 3px solid #FFFFFF;
	border-radius: 30px;
	color: #FFFFFF;
	text-align: center;
	padding-top: 5px;
}

#homeDetails h1 {
	padding-top: 5px;
	font-family: nameFont;
	font-size: 50px;
}
#homeDetails p {
	font-family: titleFont;
	padding-top: 10px;
	font-size: 20px;
}

.homeDetailsBackground {
	background-color: #888888;
	opacity: 0.85;
}
.homeDetailsBackgroundSelected {
	background-color: #AAAAAA;
	opacity: 1;
}


#NavSection {
	background-color: #000000;
	color: #F5F5F5;
}

.halfsection {
	height: 50vh;
	min-height: 300px;
	max-height: 900px;
	width: 100vw;
	min-width: 700px;
	max-width: 2880px;
}

.section {
	height: 100vh;
	min-height: 600px;
	max-height: 1800px;
	width: 100vw;
	min-width: 700px;
	max-width: 2880px;
}

.titleContainer {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 10%;
	background-color: #000000;
	z-index: 1;
}

.title {
	text-align: center;
	font-size: 24px;
	padding-top: 5px;
}

.navContainer {
	width: 100%;
	height: 90%;
	background-color: #5E4230;
	background: url('../img/wood.jpg') bottom repeat-x;
}

.navItem {
	font-size: 16px;
	margin-bottom: 0;
	display: inline-block;
	width: 25%;
	height:100%;
}

.nav {
	position: absolute;
	bottom: 0;
	left: 5%;
	width: 90%;
	height: 97.5%;
}

.navText {
	text-align: center;
}

.section2 {
	background-color: #6DB571;
	color: #222222;
}

.section3 {
	background-color: #B28BD9;
	color: #222222;
}

.section2unselected {
	background-color: #62A366;
	color: #222222;
}
.section3unselected {
	background-color: #A07DC3;
	color: #222222;
}

.container {
	font-size: 0;
	padding: 0;
	margin-bottom: 0;
}

.content {
	font-size: 16px;
	position: relative;
}

.errorText {
	color: #8A0000;
}




/*
Android: -webkit-

Chrome: -webkit-

iOS: -webkit-

Safari: -webkit-

Firefox: -moz-

Internet Explorer: -ms-

Opera: -o-
*/