/* General css. Main Tags*/
html {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	color: #000000;
	background-color: #555555;
	font-size: 16px;
	border: 0;
}
body {
	margin: 0 0 0 0;
	padding: 0 0 0 0;
	border: 0;
}
div {
	margin: 0;
	padding: 0;
}

.hidden {
	display: none;
}

#NavSection {
	background-color: #000000;
	color: #F5F5F5;
}

.section {
	height: 100vh;
	min-height: 600px;
	max-height: 1800px;
	width: 100vw;
	min-width: 700px;
	max-width: 2880px;
}

.titleContainer {
	margin-left: auto;
	margin-right: auto;
	width: 500px;
	height: 10%;
}

.title {
	text-align: center;
	font-size: 24px;
	padding-top: 20px;
}

.navContainer {
	width: 100%;
	height: 90%;
	background-color: #555555;
}

.navItem {
	font-size: 16px;
	margin-bottom: 0;
	display: inline-block;
	width: 25%;
	height:100%;
}

.nav {
	position: absolute;
	bottom: 0;
	left: 5%;
	width: 90%;
	height: 97.5%;
}

.section1 {
	background-color: #DEA749;
	color: #222222;
}

.section2 {
	background-color: #6DB571;
	color: #222222;
}

.section3 {
	background-color: #B28BD9;
	color: #222222;
}

.section4 {
	background-color: #87CEFA;
	color: #222222;
}

.section1unselected {
	background-color: #C89642;
	color: #222222;
}
.section2unselected {
	background-color: #62A366;
	color: #222222;
}
.section3unselected {
	background-color: #A07DC3;
	color: #222222;
}
.section4unselected {
	background-color: #7AB9E1;
	color: #222222;
}

.container {
	font-size: 0;
	padding: 0;
	margin-bottom: 0;
}

.content {
	font-size: 16px;
	position: relative;
}



/*
Android: -webkit-

Chrome: -webkit-

iOS: -webkit-

Safari: -webkit-

Firefox: -moz-

Internet Explorer: -ms-

As bonus: Opera: -o-
*/