
.section4 {
	background-color: #87CEFA;
	color: #222222;
}

.loginContent {
	padding-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

.login {
	border: 2px solid #B80000;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px 10px 10px;
	width: 300px;
}

.dashboardContent {
	padding: 1% 1% 1% 1%;
}

.dashboard {
	background-color: #FFFFFF;
	color: #000000;
	height: 98%;
	width: 98%;
}