
.section4 {
	background-color: #87CEFA;
	color: #222222;
}

.section4Container {
	height: 100%;
}

.loginContent {
	padding-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

.login {
	border: 2px solid #B80000;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px 10px 10px;
	width: 300px;
}

.dashboardContent {
	height: 98%;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}

.dashboard {
	height: 100%;
	width: 100%;
	background-color: #CCCCCC;
}

.dashboardBanner {
	width: 100%;
	background-color: #FFFFFF;
}