
.section4 {
	background-color: #87CEFA;
	color: #222222;
}

.section4Container {
	height: 100%;
}

.loginContent {
	padding-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

.login {
	border: 2px solid #B80000;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px 10px 10px;
	width: 300px;
}

.dashboardContent {
	height: 98%;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}

.dashboard {
	height: 100%;
	width: 100%;
	background-color: #CCCCCC;
}

#dashboardBanner {
	width: 100%;
	background-color: #AAAAAA;
	height: 40px;
}

#logoutButton {
	width:70px;
	height: 25px;
	border: 1px solid #FFFFFF;
	border-radius: 8px;
	background-color: #000000;
	float: right;
	color: #CCCCCC;
	font-size: 20px;
	margin-top: 5px;
	margin-right: 5px;
	padding-left: 8px;
	padding-top: 2px;
}