
.section4 {
	background-color: #87CEFA;
	color: #222222;
}

.section4unselected {
	background-color: #7AB9E1;
	color: #222222;
}

.section4Container {
	height: auto;
	min-height: 100vh;
	max-height: none;
}

.loginContent {
	padding-top: 100px;
	margin-left: auto;
	margin-right: auto;
}

.login {
	border: 2px solid #B80000;
	margin-left: auto;
	margin-right: auto;
	padding: 10px 10px 10px 10px;
	width: 300px;
}

.statusTextSpan {
	height: 22px;
	background-image: url('../img/StatusLightWhite.png');
	background-repeat: no-repeat;
	padding-left: 25px;
}

.dashboardContent {
	height: 98%;
	width: 98%;
	margin-left: auto;
	margin-right: auto;
	padding-top: 10px;
}

.dashboard {
	height: 100%;
	width: 100%;
}

#dashboardBanner {
	background-color: #BBBBBB;
	height: 40px;
	padding-top: 10px;
	padding-left: 15px;
	padding-right: 15px;
	border: 2px solid #222222;
	border-radius:15px;
	margin-bottom: 10px;
}

#logoutButton {
	width:70px;
	height: 25px;
	border: 1px solid #FFFFFF;
	border-radius: 8px;
	background-color: #000000;
	float: right;
	color: #CCCCCC;
	font-size: 20px;
	margin-right: 5px;
	padding-left: 8px;
	padding-top: 2px;
}

#workouts {

}

.workoutContainer {
	width: 80%;
	margin-left: 10px;
}
.workoutContent {
	background-color: #999999;
	height: 30px;
	border: 1px solid #222222;
	border-radius:15px;
	padding-left: 20px;
	padding-top: 15px;
	padding-bottom: 15px;
}
.workoutContentClicked {
	background-color: #BBBBBB;
}
.workoutContentMouseOver {
	background-color: #DDDDDD;
}

.moveContainer {
	padding-left:20px;
}
.moveContent {
	background-color: #CCCCCC;
	height: 25px;
	border: 1px solid #222222;
	padding-left: 40px;
	padding-top: 10px;
	padding-bottom: 10px;
	border-radius:10px;
}
.moveContentClicked {
	background-color: #EEEEEE;
}
.moveContentMouseOver {
	background-color: #FFFFFF;
}

.setContainer {
	padding-left: 20px;
}
.setContent {
	background-color: #FFFFFF;
	height: 20px;
	border: 1px solid #222222;
	padding-left: 60px;
	padding-top: 5px;
	padding-bottom: 5px;
	border-radius:5px;
}

#newWorkoutButtonContainer {
	margin-left:30px;
	border: 2px solid #444444;
	border-radius: 15px;
	width: 150px;
	padding: 5px 5px 5px 5px;
	margin-bottom: 10px;
}

.newWorkoutButtonContainerMouseOverGreen {
	background-color: #90EE90;
}
.newWorkoutButtonContainerMouseOverRed {
	background-color: #EE9090;
}

#newWorkoutButton {
	height: 30px;
	padding-top: 10px;
	padding-left: 46px;
	background-image: url('../img/AddButton.png');
	background-repeat: no-repeat;
}

#newWorkout {

}